<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main-view</title>
</head>
<body>
<header>
  <div class="wrapper">
    <div class="logo">
      <img src="logo-PWA.png" alt="">
      <ul class="nav-area">
        <li><a href="Home"></a></li>
        <li><a href="About"></a></li>
        <li><a href="Portfolio"></a></li>
        <li><a href="Contact"></a></li>
      </ul>
    </div>
  </div>
  <div class="welcome-text">
    <h1>New creavite design</h1>
    <a href="#">Psst...Would you need something?</a>
  </div>
</header>
</body>
</html>
