<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main-view</title>
  <link rel="stylesheet" href="main-view.component.css">
</head>
<body>
<header>
  <div class="wrapper">
    <div class="logo">

    </div>
    <ul class="nav-area">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>

  <div class="welcome-text">
    <h1>New creative design</h1>
    <a href="#">Psst...Would you need something?</a>
  </div>
</header>
</body>
</html>
